.gor-dropdown {
  cursor: pointer;
  position: relative;
}

.gor-option-icon {
  background-image: url(/om/assets/images/ic-arrow-down.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
}

.gor-white-background {
  background-color: #FFFFFF;
}

.gor-dropdown-wrapper {
  border: 1px solid;
  border-radius: 0.1875rem;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 0.5rem 3.25rem 0.5rem 0.625rem;
  transition: all 200ms ease;
  border-color: #aaaaaa;
  font-size: 14px;
  font-weight: 100;
  color: #aaaaaa;
  position: relative;
}
.gor-dropdown-wrapper .gor-dropdown-arrow {
  border-color: #A6A7A9 transparent transparent;
  border-style: solid;
  border-width: 0.5rem 0.3125rem 0.125rem;
  content: ' ';
  display: block;
  height: 0;
  position: absolute;
  right: 0.9375rem;
  top: 0.6875rem;
}
.gor-dropdown-wrapper .gor-dropdown-arrow.up {
  width: 0px;
  height: 0px;
  border-width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 9px solid #A6A7A9;
  border-color: none;
  border-style: solid;
}

.gor-dropdown-option {
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  color: #A6A7A9;
  cursor: pointer;
  padding: 0.5rem 0.625rem;
}
.gor-dropdown-option.disabled {
  cursor: default;
  color: #C8C8C8;
}

.gor-option-wrapper {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 30px;
  background: #fff;
  width: 100%;
  border: 1px solid;
  border-radius: 3px;
  box-shadow: 0 0.0625rem 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
}